/*For mobile size*/
@media only screen and (max-width: 1600px) {
	.page-middle-content {
		display: grid;
		width: 100%;
		grid-template-columns: 100%;
		grid-row-gap: 50px;
	}
	.second-div {
		left: 0;
	}
	.blocks.work-vector-info .vector-txt a {
		display: none;
	}
	.blocks.ellipse-info {
		top: -134px;
	}
	.slide-left {
		left: 0;
	}
}

@media only screen and (max-width: 1130px) {
	.blocks.ellipse-info {
		left: -519px;
	}
}

@media only screen and (max-width: 950px) {
	.first-div .blocks.middle-section .blocks-content {
		grid-template-columns: 1fr auto;
	}
}

@media only screen and (max-width: 835px) {
	.blocks.middle-section .user-pic {
		background-size: 70%;
		background-position: left center;
	}
	.blocks.greeting-info .greeting-header {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 600px) {
	.first-div .blocks.middle-section .blocks-content {
		grid-template-columns: 100%;
	}
	#page {
		background-color: #FAB54D;
	}
	.blocks.logo-info {
		top: 25px;
	}
	.blocks.greeting-info .greeting-wrapper {
		padding-top: 30px;
		margin-bottom: 10px;
	}
	.blocks.bottom-left-dots svg {
		display: none;
	}
	.slide-details .work-logo {
		width: 60%;
		margin: 0 auto;
	}
	.slide-details .work-name,
	.slide-details .work-place {
		text-align: center;
	}
	.slide-details .work-name {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.last-layer-wp a {
		display: none;
	}
	.blocks.contact-info {
		bottom: 15px;
		right: 0;
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	.blocks.up-right-dots svg {
		display: none;
	}
	.blocks.middle-section .user-name {
		font-size: 1.2em;
	}
	.blocks.middle-section .user-text {
		font-size: 0.9em;
	}
	.slide-details .work-logo {
		width: 90%;
	}
	.slide-details:nth-child(3) .work-name p, .slide-details:nth-child(7) .work-name p, .slide-details:nth-child(11) .work-name p {
		color: #FFFFFF;
	}
	.slide-left {
		left: 0;
	}
}