/* Default
-----------------------------------------------------*/
  * {
      outline: none !important;
      -webkit-box-sizing : border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    ::-moz-selection {
       background-color: #FF2C5F;
       color: #FF5858;
    }
    ::selection {
       background-color: #FF2C5F;
       color: #FF5858;
    }
    html,
    body {
      width: 100%;
      height: 100%;
      min-width: 300px;
    }
    section {
      display: block;
      width: 100%;
    }
    body {
      background-color: #ffffff;
    }
    svg, 
    img {
      display: block;
      vertical-align: baseline;
    }
    a {
      cursor: pointer;
    }
    a:link,
    a:visited,
    a {
      text-decoration: none;
    }
    ul {
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      padding-left: 20px;
    }
    li {
      margin: 0;
      padding: 0;
      margin-bottom: 3px;
    }
    .table {
      display: table;
    }
    .cell {
      display: table-cell;
    }
    .clearfix:before,
    .clearfix:after {
      clear: both;
      content: " ";
      display: block;
      height: 0;
      visibility: hidden;
    }
    html, body {
      font-family: "Poppins", sans-serif; 
    }

    /*Font size------------------------------------*/
      .blocks.greeting-info .greeting-header {
        font-size: 1.8em;
      }
      .blocks.middle-section .user-name {
        font-size: 1.2em;
      }
      .blocks.greeting-info .greeting-body
      {
        font-size: 1em;
      }
      .blocks.middle-section .user-work {
        font-size: 0.8em;
      }
      .slide-details .work-name p,
      .slide-details .work-place a,
      .last-layer-wp a ,
      .slide-details .work-type p {
        font-size: 0.875em;
      }
      .blocks.work-vector-info .vector-txt a {
        font-size: 0.75em;
      }
      .blocks.contact-info .contact-phone a,
      .blocks.contact-info .contact-mail a {
        font-size: 0.8em;
      }
    /*=============================================*/


    /*Colors ------------------------------------*/
      .blocks.greeting-info .greeting-header, 
      .blocks.greeting-info .greeting-body {
        color: #FFFFFF;
      }

      .blocks.middle-section .user-text a,
      .blocks.middle-section .user-work p {
        color: #464646;
      }

      .blocks.middle-section .pink-text {
        color: #FB416D;
      }
      .blocks.middle-section .name-switch {
        transition: 0.5s all;
        color: #FDB600;
      }

      .blocks.contact-info .contact-phone a,
      .blocks.contact-info .contact-mail a,
      .last-layer-wp a  {
        color: #6D6D6D;
      }

      .blocks.work-vector-info .vector-txt a,
      .slide-details .work-type p {
        color: #FF2C9E;
      }

      .slide-details .work-place a {
        color: #AAB7B8;
      }
      .slide-details .work-place a.color-update {
        color: #8A8A8A;
      }

    /*=============================================*/

    /*Line Height ---------------------------------*/
      .blocks.greeting-info .greeting-header {
        line-height: 45px;
      }
      .blocks.middle-section .user-text,
      .blocks.greeting-info .greeting-body {
        line-height: 24px;
      }

      .blocks.work-vector-info .vector-txt a {
        line-height: 18px;
      }

      .blocks.contact-info .contact-phone a,
      .blocks.contact-info .contact-mail a {
        line-height: 19px;
      }

    /*Font Weight ---------------------------------*/
      .blocks.middle-section .user-name {
        font-weight: 500;
      }
      .blocks.middle-section .user-text {
        font-weight: normal;
      }
      .blocks.work-vector-info .vector-txt a {
        font-weight: 300;
      }
/*===================================================*/

/*Page ----------------------------------------------*/
  #page {
    position: relative;
    z-index: 15;
  }
  .all-item-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    padding: 50px 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .blocks.greeting-info {
    position: relative;
    z-index: 11;
  }
  .blocks.greeting-info .blocks-inner {
    max-width: 1030px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .blocks.greeting-info  .blocks-content {
    position: relative;
    z-index: 10;
  }
  .blocks.greeting-info .greeting-wrapper {
    position: relative;
    z-index: 20;
    margin-bottom: 47px;
  }
  .blocks.greeting-info .greeting-header,
  .blocks.greeting-info .greeting-body {
    transition: 0.8s color;
  }
  .page-middle-content {
    position: relative;
    z-index: 10;
    display: flex;
    width: 200%;
    align-items: center;
    justify-content: space-between;
    transition: 0.8s left;
    left: 0;
  }
  .first-layer-wp,
  .last-layer-wp {
    position: relative;
    z-index: 9;
  }
  .last-layer-wp .blocks-inner {
    max-width: 1030px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .first-div {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 13;
  }
  .second-div {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 12;
    left: -18%;
    transition: 0.8s left;
  }
  .first-div .page-inner-content {
    max-width: 1030px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 10;
  }
  .second-div .page-inner-content{
    max-width: 1030px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 10;
  }
  .slide-left {
    left: -100%;
  }
  .second-div-left {
    left: 0;
  }
  .last-layer-wp a {
    display: inline-block;
    position: relative;
    z-index: 10;
    margin-top: 59px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.8s color;
    pointer-events: none;
  }
  .last-layer-wp a.show-arrow {
    pointer-events: auto;
  }
  .last-layer-wp a:hover {
    color: #FF2C5F;
  }
  .last-layer-wp .blocks-inner {
    opacity: 0;
    transition: 0.8s opacity;
    cursor: unset;
  }
  .show-goback {
    opacity: 0;
    cursor: pointer; 
  }
  .last-layer-wp a::before {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    content: ' ';
    background-image: url("../images/goback.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    width: 22px;
    height: 100%;
  }

/*===================================================*/


/*Elipse Block---------------------------------------*/
  
  .blocks.ellipse-info {
    position: absolute;
    z-index: 9;
    left: -595px;
    top: -218px;
    width: 1112px;
  }
  .blocks.ellipse-info svg {
    display: block;
    width: 100%;
    height: auto;
  }

  .blocks.up-right-dots svg {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
  }
  .blocks.bottom-left-dots svg {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 11;
    left: 0;
    bottom: 0;
  }



/*===================================================*/


/*Header ---------------------------------------------*/
  .blocks.logo-info {
    position: absolute;
    z-index: 11;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .blocks.logo-info .logo a {
    display: block;
    width: 100%;
    height: 30px;
  }
  .blocks.logo-info .logo svg {
    display: block;
    margin: 0 auto;
  }

/*=====================================================*/

/*First Section --------------------------------------*/
  .blocks.first-section {
    margin-bottom: 47px;
    position: relative;
    z-index: 10;
  }
  .blocks.greeting-info .greeting-header {
    margin-bottom: 5px;
  }

/*=====================================================

/*Middle Section --------------------------------------*/
  .blocks.middle-section {
    position: relative;
    z-index: 10;
  }
  .first-div .blocks.middle-section .blocks-content {
    display: grid;
    grid-template-columns: 1fr 600px 50px;
    align-items: center;
  }
  .blocks.middle-section .user-pic {
    background-image: url("../images/userpic.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    width: 242px;
    height: 242px;
  }
  .blocks.middle-section .user-name {
    margin-bottom: 15px;
  }
  .blocks.middle-section .user-text .blue-border {
    display: inline-block;
    border-bottom: 3px solid #2CB3FF;
  }
  .blocks.middle-section .user-work {
    margin-top: 40px;
  }
  .blocks.middle-section .user-text p {
    display: block;
    margin-bottom: 5px;
  }
  .blocks.middle-section .work-type p {
    display: block;
    transition: 0.8s all;
  }
  .blocks.middle-section .user-work p {
    display: inline-block;
    /* background-image: url("../images/see-work.svg");
    background-repeat: no-repeat;
    background-position: right center; */
    padding-right: 15px;
    background-size: auto;
    transition: 0.8s all;
    cursor: pointer;
  }
  .blocks.middle-section .user-work p:hover {
    color: #94FFA5;
  }
  .blocks.contact-info .contact-phone a,
  .blocks.contact-info .contact-mail a {
    transition: 0.8s all;
  }

  body,
  .blocks.logo-info .logo svg path,
  .blocks.ellipse-info svg path,
  .all-item-wrapper,
  .blocks.up-right-dots svg circle,
  .blocks.bottom-left-dots svg circle,
  .blocks.contact-info .contact-phone a,
  .blocks.contact-info .contact-mail a,
  .blocks.greeting-info .greeting-header,
  .blocks.greeting-info .greeting-body
  {
    transition: 0.8s all;
  }

  .switch-color .blocks.logo-info .logo svg path {
    fill: #FFFFFF;
  }
  .switch-color .blocks.ellipse-info svg path {
    fill: #FFFFFF;
  }
  .switch-color .all-item-wrapper {
    background-color: #FF2C5F;
  }
  .switch-color .blocks.up-right-dots svg circle {
    fill: #FFFFFF;
  }
  .switch-color .blocks.bottom-left-dots svg circle {
    fill: #FF2C5F;
  }
  .switch-color .blocks.contact-info .contact-phone a,
  .switch-color .blocks.contact-info .contact-mail a {
    color: #FFFFFF;
  }
  .switch-color .blocks.greeting-info .greeting-header,
  .switch-color .blocks.greeting-info .greeting-body {
    color: #FF2C5F;
  }
  .switch-color .slide-details .work-type .wt-switch {
    display: block;
    color: #FDB600;
  }
/*=====================================================

/*Footer --------------------------------------------*/

  .blocks.contact-info {
    position: absolute;
    z-index: 10;
    bottom: 48px;
    right: 60px;
  }
  .blocks.contact-info .blocks-content {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  .blocks.contact-info .contact-phone a,
  .blocks.contact-info .contact-mail a {
    display: block;
  }

  .blocks.contact-info .contact-phone a:hover,
  .blocks.contact-info .contact-mail a:hover {
    opacity: 0.5;
  }

/*===================================================*/

/* Vector img & txt --------------------------------- */
  .blocks.work-vector-info {
    position: relative;
    z-index: 11;
  }
  .blocks.work-vector-info .blocks-content {
    display: flex;
    align-items: center;
  }
  .blocks.work-vector-info .vector-txt {
    margin-left: 6px;
  }
  .blocks.work-vector-info .vector-txt a {
    display: block;
    background-image: url("../images/vector.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    background-size: auto;
    opacity: 1;
    transition: 0.8s opacity;
  }
  .blocks.work-vector-info .vector-txt a:hover {
    opacity: 0.8;
  }



/*=====================================================*/

/* Sliders _____________________________________________*/
  .slide-details .work-logo {
    width: 100%;
    height: 194px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
  }
  .slide-details:nth-child(1) .work-logo,
  .slide-details:nth-child(5) .work-logo,
  .slide-details:nth-child(9) .work-logo,
  .slide-details:nth-child(13) .work-logo {
    border: 3px solid #FFA965;
    -webkit-box-shadow: -7px 7px 0px 0px rgba(253,111,0,1);
    -moz-box-shadow: -7px 7px 0px 0px rgba(253,111,0,1);
    box-shadow: -7px 7px 0px 0px rgba(253,111,0,1);
  }
  .slide-details:nth-child(1) .work-name p,
  .slide-details:nth-child(5) .work-name p,
  .slide-details:nth-child(9) .work-name p,
  .slide-details:nth-child(13) .work-name p {
    color: #FD6F00;
  }
  .slide-details:nth-child(2) .work-logo,
  .slide-details:nth-child(6) .work-logo,
  .slide-details:nth-child(10) .work-logo,
  .slide-details:nth-child(14) .work-logo {
    border: 3px solid #1CC8FF;
    -webkit-box-shadow: -7px 7px 0px 0px rgba(28, 200, 255, 1);
    -moz-box-shadow: -7px 7px 0px 0px rgba(28, 200, 255, 1);
    box-shadow: -7px 7px 0px 0px rgba(28, 200, 255, 1);
  }
  .slide-details:nth-child(2) .work-name p,
  .slide-details:nth-child(6) .work-name p,
  .slide-details:nth-child(10) .work-name p,
  .slide-details:nth-child(14) .work-name p {
    color: #1CC8FF;
  }
  .slide-details:nth-child(3) .work-logo,
  .slide-details:nth-child(7) .work-logo,
  .slide-details:nth-child(11) .work-logo {
    border: 3px solid #FDB600;
    -webkit-box-shadow: -7px 7px 0px 0px rgba(253, 182, 0, 1);
    -moz-box-shadow: -7px 7px 0px 0px rgba(253, 182, 0, 1);
    box-shadow: -7px 7px 0px 0px rgba(253, 182, 0, 1);
  }
  .slide-details:nth-child(3) .work-name p,
  .slide-details:nth-child(7) .work-name p,
  .slide-details:nth-child(11) .work-name p {
    color: #FDB600;
  }
  .slide-details:nth-child(4) .work-logo,
  .slide-details:nth-child(8) .work-logo,
  .slide-details:nth-child(12) .work-logo {
    border: 3px solid #94FFA5;
    -webkit-box-shadow: -7px 7px 0px 0px rgba(148, 255, 165, 1);
    -moz-box-shadow: -7px 7px 0px 0px rgba(148, 255, 165, 1);
    box-shadow: -7px 7px 0px 0px rgba(148, 255, 165, 1);
  }
  .slide-details:nth-child(4) .work-name p,
  .slide-details:nth-child(8) .work-name p,
  .slide-details:nth-child(12) .work-name p {
    color: #94FFA5;
  }
  .slide-details .work-logo img {
    display: block;
  }
  .slide-details .work-name {
    padding-top: 20px;
    padding-bottom: 8px;
  }
  .slide-details .work-type {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .work-slider-wp {
    margin-left: -80px;
  }
  .work-slider-wp .slick-list {
    overflow: visible;
  }
  .work-slider-wp .slick-list.no-overflow {
    overflow: hidden;
  }
  .removetransform {
    transform: translate3d(0px, 0px, 0px);
  }
  .work-slider-wp .slick-slide {
    float: left;
    padding-left: 80px;
  }

  .slide-details .work-place a {
    transition: 0.3s color;
  }

  .ui_block {
    display: block;
    width: 100%;
    height: auto;
  }



/*==========================================================*/